<div ng-controller="createNewVehicleModelController" ng-init="FetchVehicleMakers()">
    <div class="container-fluid">
        <div class="row" style="border-bottom: 2px solid lightblue">
            <div class="col-md-6">
                <h1>Create new</h1>
            </div>
            <div class="col-md-offset-10 text-center">
                <h1><a href="#/VehicleModel">Back to list</a></h1>
            </div>
        </div>
        <div class="form-group">
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-6 col-md-offset-4">
                    <label for="dropdownMaker">Select maker:</label>
                    <select class="form-control" id="dropdownMaker" ng-model="VehicleMakeId">
                        <option ng-repeat="x in VehicleMakes" value="{{x.VehicleMakeId}}">{{x.Name}}</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 2%;">
                <div class="col-md-6 col-md-offset-4">
                    <div class="col-md-2">
                        <label>Model:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="Model" ng-model="Model">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2%; margin-bottom: 5%;">
                <div class="col-md-6 col-md-offset-4">
                    <div class="col-md-2">
                        <label>Abrv:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="Abrv" ng-model="Abrv">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2%; margin-bottom: 5%;">
                <div class="col-md-5 col-md-offset-5">
                    <button type="button" ng-click="AddVehicleModel()" class="btn btn-success center-block">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>