<div ng-controller="VehicleModelController">
    <h1>Vehicle Models</h1>
    <a href="#/VehicleModel/CreateNew">Create new Model</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Model</th>
                <th>Abrv</th>
                <th>Edit, Details, Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in VehicleModels">
                <td>{{x.VehicleMake.Name}}</td>
                <td>{{x.Model}}</td>
                <td>{{x.Abrv}}</td>
                <td>
                    <a ng-controller="EditVehicleModelController" href="#/VehicleModel/Edit/{{x.VehicleModelId}}">Edit</a>
                    <a href="#/VehicleModel/Details/{{x.VehicleModelId}}">Details</a>
                    <a ng-controller="DeleteVehicleModelController" ng-click="DeleteModel(x.VehicleModelId)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table> 
</div>