<!DOCTYPE html>
<html>
<head>
    <title>Vehicle Maker Details</title>
	<meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div ng-app="vehiclesApplication" ng-controller="DetailsVehicleMakeController">
        <h1>Vehicle Maker</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Abrv</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in VehicleMakes">
                    <td>{{x.Name}}</td>
                    <td>{{x.Abrv}}</td>
                </tr>
            </tbody>
        </table>
        <h1>Vehicle Models</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Abrv</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in VehicleMakes.VehicleModel">
                    <td>{{x.Model}}</td>
                    <td>{{x.Abrv}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/app/controllers/DetailsVehicleMakeController.js"></script>
</body>
</html>
