<div ng-controller="VehicleMakeController" ng-init="FetchVehicleMakers()">
    <h1>Vehicle Makers</h1>
    <!--<a href="#/VehicleMake/CreateNew">Create new Maker</a>-->
    <form class="form-horizontal">
        <div class="form-group">
            <a href="#/VehicleMake/CreateNew">Create new Maker</a>
        </div>
        <div class="form-group">
            <label for="searchbox">Search:</label>
            <input type="text" id="searchbox" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th ng-click="sort('Name')">Name
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('Abrv')">Abrv
                    <span class="glyphicon sort-icon" ng-show="sortKey=='Abrv'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th>Edit, Details, Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="x in VehicleMakes|orderBy:sortKey:reverse|filter:search|itemsPerPage: 4">
                <td>{{x.Name}}</td>
                <td>{{x.Abrv}}</td>
                <td>
                    <a ng-controller="EditVehicleMakeController" ng-href="#/VehicleMake/Edit/{{x.VehicleMakeId}}">Edit</a>
                    <a ng-href="#/VehicleMake/Details/{{x.VehicleMakeId}}">Details</a>
                    <a ng-controller="DeleteVehicleMakeController" ng-click="DeleteMaker(x.VehicleMakeId)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls max-size="4" boundary-links="true" direction-links="true"></dir-pagination-controls>
</div>
