<div ng-controller="VehicleMakeController" ng-init="FetchVehicleMakers()">
    <h1>Vehicle Makers</h1>
    <a href="#/VehicleMake/CreateNew">Create new Maker</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abrv</th>
                <th>Edit, Details, Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in VehicleMakes">
                <td>{{x.Name}}</td>
                <td>{{x.Abrv}}</td>
                <td>
                    <a ng-controller="EditVehicleMakeController" ng-href="#/VehicleMake/Edit/{{x.VehicleMakeId}}">Edit</a>
                    <a ng-href="#/VehicleMake/Details/{{x.VehicleMakeId}}">Details</a>
                    <a ng-controller="DeleteVehicleMakeController" ng-click="DeleteMaker(x.VehicleMakeId)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
